# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# VS Code
.vscode/*


*.out
*.dSYM

mnist_data

main
test_knn

#tex

*.aux
*.log
# *.tex

performance_logs.csv
.DS_Store

